<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" author="MightyMoin" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	<link rel="icon" href="{% static 'images/final_logo.png'%}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<noscript>
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css'%}">
	</noscript>
	<title>Admin | Faculty Recruitment</title>
	<style>
		@media screen and (max-width: 800px) {
            #received.main.alt .table-wrapper {
               font-size: 80%;
            }
        }
		@media screen and (max-width: 620px) {
            #received.main.alt .table-wrapper {
               font-size: 65%;
            }
        }
		@media screen and (max-width: 520px) {
            #received.main.alt .table-wrapper {
               font-size: 45%;
            }
        }
	</style>
</head>

<body>

	<body class="is-preload">
		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header" class="alt">
				<span class="logo"><img src="{% static 'images/final_logo_web_extended_lq.png' %}" alt="" /></span>
				<h1>Indian Institute of Information Technology, Lucknow</h1>
				<p>IIIT Lucknow, Chak Ganjaria, C. G. City, Lucknow – 226002<br />
					Contact: <a
						href="mailto:contact@iiitl.ac.in?subject=Faculty%20Recruitment%20Query">contact@iiitl.ac.in</a>
					for more information.</p>
				<h2>Admissions Admin Portal</h2>
			</header>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="#filter" class="active">Filter Applications</a></li>
					<li><a href="#received">Applications Received</a></li>
				</ul>
			</nav>

			<!-- Main -->
			<div id="main">

				<!-- Filter Applications Sections -->
				<section id="filter" class="main">
					<div class="spotlight">
						<div class="content">
							<header class="major">
								<h2>Filter Applications:</h2>
							</header>
							<!-- Add dropdowns here -->
							<div class="container">
							  <div class="row gtr-uniform">

								<div class="col-3 col-5-medium">
									Advertisement Number
								</div>
								<div class="col-3 col-6-medium">
									<select name="adv num" id="adv id">
										<option value="1">Dropdown</option>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
									</select>
								</div>
								<div class="col-1 col-0-medium"></div>
								<div class="col-2 col-5-medium">
									Applied For:
								</div>
								<div class="col-3 col-6-medium">
									<select name="App for" id="App for">
										<option value="1">Dropdown</option>
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
									</select>
								</div>
									<div class="col-3 col-5-medium">
										Applicant Date After:
									</div>
									<div class="col-3 col-6-medium">
										<input type="date" name="datechk" class="datechk">
									</div>
									<div class="col-1"></div>

									<div class="col-2 col-5-medium">
										Before:
									</div>
									<div class="col-3 col-6-medium">
										<input type="date" name="datechk" class="datechk">
									</div>

										<div class="col-3 col-5-medium">
											Subject Selected
										</div>
										<div class="col-3 col-6-medium">
											<select name="sub selected" id="sub selected">
												<option value="1">Dropdown</option>
												<option value="1">1</option>
												<option value="1">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
											</select>
										</div>

							  </div>

							</div>
								<center><input type="button" value="Submit" style="background-color:rgb(130, 196, 240); margin-top: 6vh;"></center>
					   </div>
					</div>
				</section>

				<!-- Applications Received section -->
				<section id="received" class="main alt">
					<div class="spotlight">
						<div class="content">
							<header class="major">
								<h2>Applications Received:</h2>
							</header>
							<!-- Add tables here -->
							<div class="table-wrapper" style="padding: 2px;overflow-wrap: anywhere;">
								<table class="rounded" style="text-align-last: center;border:2px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;">
								<thead
									id="app-thead">
										<td style="border-top-left-radius: 1rem; border-bottom: 1px solid #a6a6a6;" scope="col">Application Number</td>
										<td scope="col" style=" border-bottom: 1px solid #a6a6a6;border-left: 1px solid #a6a6a6">Applicant Name</td>
										<td scope="col" style=" border-bottom: 1px solid #a6a6a6;border-left: 1px solid #a6a6a6">Applied for Position</td>
										<td scope="col" style=" border-bottom: 1px solid #a6a6a6;border-left: 1px solid #a6a6a6">Application Date</td>
										<td style="border-top-right-radius: 1rem;border-bottom: 1px solid #a6a6a6;border-left: 1px solid #a6a6a6 " scope="col">Subject Proficiency</td>
								</thead>
								<tbody class="application-row">
									<tr></tr>
									<tr>
										<th scope="row">1</th>
										<td>Mark</td>
										<td>Otto</td>
										<td>22-27-1998</td>
										<td>Engineering</td>
									</tr>
									<tr>
										<th scope="row">2</th>
										<td>Abhisheak Ranajan Gupta</td>
										<td>Thornton</td>
										<td>22-67-7070</td>
										<td>@fat</td>
									</tr>
									<tr>
										<th scope="row">3</th>
										<td>Larry the Bird</td>
										<td>@twitter</td>
										<td>@twitter</td>
										<td>@twitter</td>
									</tr>
									<tr>
										<th scope="row">4</th>
										<td>Larry the Bird</td>
										<td>@twitter</td>
										<td>@twitter</td>
										<td>@twitter</td>
									</tr>
									<tr>
										<th scope="row">5</th>
										<td>Larry the Bird</td>
										<td>@twitter</td>
										<td>@twitter</td>
										<td>@twitter</td>
									</tr>
									<tr>
										<th scope="row">6</th>
										<td>Larry the Bird</td>
										<td>@twitter</td>
										<td>@twitter</td>
										<td>@twitter</td>
									</tr>
									<tr>
										<th scope="row">7</th>
										<td>Larry the Bird</td>
										<td>@twitter</td>
										<td>@twitter</td>
										<td>@twitter</td>
									</tr>
									<tr>
										<th scope="row">8</th>
										<td>Larry the Bird</td>
										<td>@twitter</td>
										<td>@twitter</td>
										<td>@twitter</td>
									</tr>
									<tr>
										<th scope="row">9</th>
										<td>Larry the Bird</td>
										<td>@twitter</td>
										<td>@twitter</td>
										<td>@twitter</td>
									</tr>
									<tr>
										<th scope="row">10</th>
										<td>Larry the Bird</td>
										<td>@twitter</td>
										<td>@twitter</td>
										<td>@twitter</td>
									</tr>
									<tr>
										<th scope="row">11</th>
										<td>Larry the Bird</td>
										<td>@twitter</td>
										<td>@twitter</td>
										<td>@twitter</td>
									</tr>
									<tr>
										<th scope="row">12</th>
										<td>Larry the Bird</td>
										<td>@twitter</td>
										<td>@twitter</td>
										<td>@twitter</td>
									</tr>
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</section>
			</div>

			<!-- Footer -->
			<footer id="footer">
				<section>
					<h2 style="font-size: x-large;">How to Reach Us</h2>
					<p style="font-size: smaller;">The IIIT Lucknow campus is located at Chak Ganjeria City (C.G. City,
						Sultanpur Road), Lucknow . It is 23 km from the airport(CCSI Airport)
						and 14 km from the main railway station (Charbagh Junction).</p>
					<ul class="actions">
						<li><a href="https://goo.gl/maps/NufsSCj5hg7rFvaTA" target="####" class="button small"><i
									class="fas fa-map-marked-alt"></i><span> View Map </span></a></a></li>
					</ul>
				</section>
				<section>
					<h2 style="font-size: x-large;">Contact Details</h2>
					<dl class="alt" style="font-size: smaller;">
						<dt>Address</dt>
						<dd>IIIT Lucknow &bull; Chak Ganjaria, C.G. City &bull; Lucknow &bull; Uttar Pradesh – 226002
							&bull; India</dd>
						<!--	<dt>Phone</dt>
						<dd>(000) 000-0000 x 0000</dd>	-->
						<dt>Email</dt>
						<dd><a
								href="mailto:contact@iiitl.ac.in?subject=Faculty%20Recruitment%20Query">contact@iiitl.ac.in</a>
						</dd>
					</dl>
					<ul class="icons" style="font-size: small;">
						<li><a href="#" class="icon brands fa-linkedin alt"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a>
						</li>
						<!--	<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>	-->
					</ul>
				</section>
				<p class="copyright">&copy; 2020 <a href="https://iiitl.ac.in" target="###">IIIT Lucknow</a>.</p>
			</footer>

			<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js'%}"></script>
			<script src="{% static 'assets/js/browser.min.js'%}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js'%}"></script>
			<script src="{% static 'assets/js/util.js'%}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</body>


<style>
	
</style>

</html>