<!DOCTYPE HTML>
{% load static %}
<html>

<head>
    <title>Faculty Recruitment Form | IIIT Lucknow</title>
    <meta charset="utf-8" />
    <meta name="viewport" author="MightyMoin" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <link rel="icon" href="{% static 'images/final_logo.png' %}">
    <noscript>
        <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
    </noscript>
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- hamburger- for mobile view -->
        <span class="menu_btn" onclick="openNav()">&#9776;</span>
        <!-- 	Header	-->
        <header id="header">
            <span class="logo"><a href="https://iiitl.ac.in" target="###"><img
                        src="{% static 'images/final_logo_web_extended_lq.png' %}" alt="" /></a></span>
            <h1>Faculty Recruitment Form</h1>
            <p>
                Admin | Faculty Recruitment Portal <a href="https://iiitl.ac.in"
                    target="###">IIIT Lucknow</a>.<br />
            </p>
        </header>
        <div id="main">

            <!-- Content -->
            <section id="content" class="main" style="padding-top: 0;">

                <!--	Congratulatory Message	-->
                <div class="spotlight">
                    <div class="content">
                        <form action='.', method="POST" style="margin-top: 5em;">
                            {% csrf_token %}
                            <input type="text" placeholder="Username" name="Username" class="textbox"></input>
                            <br>
                            <input type="password" placeholder="Password" name="Password" class="textbox"></input>
                            <br>
                            <button id="submitform" class="button small primary" type="submit">Login</button>
                        </form>
                        {%if could_not_log_in %}
                        <p class="error">Either username or password is incorrect</p>
                        {% endif %}
                    </div>
                </div>

        </div>

        <!-- Footer -->
        <footer id="footer">
            <section>
                <h2>How to Reach Us</h2>
                <p style="font-size: smaller;">The IIIT Lucknow campus is located at Chak Ganjeria City (C.G. City,
                    Sultanpur Road), Lucknow . It is 23 km from the airport(CCSI Airport) and 14 km from the main
                    railway station (Charbagh Junction).</p>
                <ul class="actions">
                    <li><a href="https://goo.gl/maps/NufsSCj5hg7rFvaTA" target="#3" class="button small"><i
                                class="fas fa-map-marked-alt"></i><span> View Map </span></a></a>
                    </li>
                </ul>
            </section>
            <section>
                <h2>Contact Details</h2>
                <dl class="alt" style="font-size: smaller;">
                    <dt>Address</dt>
                    <dd>IIIT Lucknow &bull; Chak Ganjaria, C.G. City &bull; Lucknow &bull; Uttar Pradesh – 226002 &bull;
                        India
                    </dd>
                    <dt>Email</dt>
                    <dd><a
                            href="mailto:contact@iiitl.ac.in?subject=Faculty%20Recruitment%20Query">contact@iiitl.ac.in</a>
                    </dd>
                </dl>
                <ul class="icons" style="font-size: small;">
                    <li><a href="https://www.linkedin.com/school/iiitl/" target="#4"
                            class="icon brands fa-linkedin alt"><span class="label">LinkedIn</span></a></li>
                    <li><a href="https://twitter.com/iiitlucknow" target="#5" class="icon brands fa-twitter alt"><span
                                class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/iiitlucknow/" target="#6"
                            class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
                    <!--	<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>	-->
                </ul>
            </section>
            <p class="copyright">&copy; 2020 <a href="https://iiitl.ac.in" target="#2">IIIT Lucknow</a>.</p>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="{% static 'assets/js/jquery.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.scrollex.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.scrolly.min.js'%}"></script>
    <script src="{% static 'assets/js/browser.min.js' %}"></script>
    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>


    <script>
        Date.prototype.toDateInputValue = (function () {
            var local = new Date(this);
            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
            return local.toJSON().slice(0, 10);
        });

        $(document).ready(function () {
            $('#signDate').val(new Date().toDateInputValue());
        });
    </script>

    <script>
        $.notify("Either Username or Password is incorrect", "error");
    </script>

</body>

</html>