<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" author="MightyMoin" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	<link rel="icon" href="{% static 'images/final_logo.png'%}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<noscript>
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css'%}">
	</noscript>
	<title>Admin | Faculty Recruitment</title>
</head>

<body>
	<body class="is-preload">
		<!-- Wrapper -->
		{% if user.is_superuser == 1 %}
		<div id="wrapper">

			<!-- Header -->
			<header id="header" class="alt">
				<span class="logo"><img src="{% static 'images/final_logo_web_extended_lq.png' %}" alt="" /></span>
				<h1>Indian Institute of Information Technology, Lucknow</h1>
				<p>IIIT Lucknow, Chak Ganjaria, C. G. City, Lucknow – 226002<br />
					Contact: <a
						href="mailto:contact@iiitl.ac.in?subject=Faculty%20Recruitment%20Query">contact@iiitl.ac.in</a>
					for more information.</p>
				<h2>Admissions Admin Portal</h2>
			</header>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="#filter" class="active">Filter Applications</a></li>
					<li><a href="#received">Applications Received</a></li>
				</ul>
			</nav>

			<!-- Main -->
			<div id="main">
				<div id="totalData" hidden>
					{% for item in data.allData %}
					<div>
						<p>{{item.application_no}}</p>
						<p>{{item.applicant_name}}</p>
						<p>{{item.applied_post}}</p>
						<p>{{item.applied_date}}</p>
						<p>{{item.applied_department}}</p>
					</div>
					{% endfor %}
				</div>
				<!-- Filter Applications Sections -->
				<section id="filter" class="main">
					<div class="spotlight">
						<div class="content">
							<header class="major headLeft">
								<h2>Filter Applications:</h2>
							</header>
							<!-- Add dropdowns here -->
							<div class="container">
								<div class="row gtr-uniform">
									<div class="col-3 col-5-medium">
										Application number:
									</div>
									<div class="col-3 col-6-medium">
										<input type="text" id="App_no" value="">
									</div>
									<div class="col-1"></div>
									<div class="col-2 col-5-medium">
										Applied For:
									</div>
									<div class="col-3 col-6-medium">
										<select name="App_for" id="App_for">
											<option value="" selected> - None - </option>
											<option value="Professor">Professor</option>
											<option value="Associate Professor">Associate Professor</option>
											<option value="Assistant Professor Grade 2 Level 10">Assistant
												Professor Grade 2 Level 10</option>
											<option value="Assistant Professor Grade 2 Level 11">Assistant
												Professor Grade 2 Level 11</option>
											<option value="Assistant Professor Grade 1 Level 12">Assistant
												Professor Grade 1 Level 12</option>
										</select>
									</div>
									<div class="col-3 col-5-medium">
										Applicant Date After:
									</div>
									<div class="col-3 col-6-medium">
										<input id="date_after" type="date" name="datechk" class="datechk" value=''>
									</div>
									<div class="col-1"></div>

									<div class="col-2 col-5-medium">
										Before:
									</div>
									<div class="col-3 col-6-medium">
										<input id="date_before" type="date" name="datechk" class="datechk" value=''>
									</div>

									<div class="col-3 col-5-medium">
										Subject Proficiency
									</div>
									<div class="col-3 col-6-medium">
										<select name="sub_selected" id="sub_selected">
											<option value="" selected> - None - </option>
											<option value="CSE-IT">CSE / IT</option>
											<option value="Mathematics">Mathematics</option>
											<option value="Management & Humanities">Management & Humanities
											</option>
										</select>
									</div>

								</div>

							</div>
							<center><button type="button" value=""
									style="background-color:rgb(130, 196, 240); color : white !important;margin-top: 6vh;"
									onclick="filterData()">Submit</button></center>
						</div>
					</div>
				</section>

				<!-- Applications Received section -->
				<section id="received" class="main alt">
					<div class="spotlight">
						<div class="content">
							<header class="major headLeft">
								<h2>Applications Received:</h2>
							</header>
							<!-- Add tables here -->
							<div class="table-wrapper" style="padding: 2px;">
								<table class="rounded"
									style="text-align-last: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;">
									<thead id="app-thead">
										<td style="border-top-left-radius: 1rem; border-bottom: 1px solid #a6a6a6;"
											scope="col">Application Number</td>
										<td scope="col"
											style=" border-bottom: 1px solid #a6a6a6;border-left: 1px solid #a6a6a6">
											Applicant Name</td>
										<td scope="col"
											style=" border-bottom: 1px solid #a6a6a6;border-left: 1px solid #a6a6a6">
											Applied for Position</td>
										<td scope="col"
											style=" border-bottom: 1px solid #a6a6a6;border-left: 1px solid #a6a6a6">
											Application Date</td>
										<td style="border-bottom: 1px solid #a6a6a6;border-left: 1px solid #a6a6a6 "
											scope="col">Subject Proficiency</td>
										<td style="border-top-right-radius: 1rem;border-bottom: 1px solid #a6a6a6;border-left: 1px solid #a6a6a6 "
											scope="col">View More</td>
									</thead>

									<tbody id="admin-tbody" class="application-row">
										<tr></tr>
									</tbody>
								</table>
							</div>
							<div class="pagination-cont"></div>
						</div>
					</div>
				</section>
			</div>

			<!-- Footer -->
			<footer id="footer">
				<section>
					<h2 style="font-size: x-large;">How to Reach Us</h2>
					<p style="font-size: smaller;">The IIIT Lucknow campus is located at Chak Ganjeria City (C.G. City,
						Sultanpur Road), Lucknow . It is 23 km from the airport(CCSI Airport)
						and 14 km from the main railway station (Charbagh Junction).</p>
					<ul class="actions">
						<li><a href="https://goo.gl/maps/NufsSCj5hg7rFvaTA" target="####" class="button small"><i
									class="fas fa-map-marked-alt"></i><span> View Map </span></a></a></li>
					</ul>
				</section>
				<section>
					<h2 style="font-size: x-large;">Contact Details</h2>
					<dl class="alt" style="font-size: smaller;">
						<dt>Address</dt>
						<dd>IIIT Lucknow &bull; Chak Ganjaria, C.G. City &bull; Lucknow &bull; Uttar Pradesh – 226002
							&bull; India</dd>
						<!--	<dt>Phone</dt>
						<dd>(000) 000-0000 x 0000</dd>	-->
						<dt>Email</dt>
						<dd><a
								href="mailto:contact@iiitl.ac.in?subject=Faculty%20Recruitment%20Query">contact@iiitl.ac.in</a>
						</dd>
					</dl>
					<ul class="icons" style="font-size: small;">
						<li><a href="#" class="icon brands fa-linkedin alt"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a>
						</li>
						<!--	<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>	-->
					</ul>
				</section>
				<p class="copyright">&copy; 2020 <a href="https://iiitl.ac.in" target="###">IIIT Lucknow</a>.</p>
			</footer>

			<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js'%}"></script>
			<script src="{% static 'assets/js/browser.min.js'%}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js'%}"></script>
			<script src="{% static 'assets/js/pagination.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js'%}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
			<script>
				var fullData = []
				var allData = document.querySelectorAll('#totalData div');
				// console.log(allData);
				allData.forEach(i => {
					var presData = []
					Array.from(i.children).forEach(j => {
						presData.push(j.textContent);
					});
					fullData.push(presData)
				});
				console.log(fullData);
				function myTemplate(data){
					var finalData = '';
					data.forEach((item , i) => {
						finalData += `<tr>
							<td>${item[0]}</td>
							<td>${item[1]}</td>
							<td>${item[2]}</td>
							<td>${item[3]}</td>
							<td>${item[4]}</td>
							<td> <a href='/admin/user/${item[0]}'> <i
										class="fas fa-arrow-right" style="color: cornflowerblue;"></i>
								</a> </td>
										</tr>`;
					});
					console.log(finalData);
					return finalData;
				}
				function appendData(apno, apname, pos, afterDate, beforeDate, sub) {
					var presDate = new Date();
					var miniDate = new Date(2010, 01, 01);

					var mybody = document.querySelector('#admin-tbody');
					var presData = []
					fullData.forEach(item => {
						var tempDate = new Date(item[3]);
						var afd = new Date(afterDate).getTime();
						var bed = new Date(beforeDate).getTime();
						var abc=false;
						var abc2=false;
						if(tempDate.getTime()>=afd){
						abc=true;
						}
						if(tempDate.getTime()<=bed){
						abc2=true;
						}
						
						if ((apno === '' || apno === item[0]) && (apname === '' || apname === item[1]) && (pos === '' || pos === item[2]) && (afterDate == 'Invalid Date' || abc) && (beforeDate == 'Invalid Date' || abc2) && (sub === '' || sub === item[4])) {
							presData.push(item);
						}
					});
					console.log("presData ==> " , presData);
					$('.pagination-cont').pagination({
						dataSource: presData,
						pageSize: 1,
						showGoInput: true,
						showGoButton: true,
						position: 'bottom',
						callback: function(data, pagination) {
							var html = myTemplate(data);
							$('#admin-tbody').append(html);
							dataContainer.html(html);
						}
						})
				}
				appendData('', '', '', 'Invalid Date', 'Invalid Date', '');
				function filterData() {
					var appFor = $('#App_for').val();
					var appNum = $('#App_no').val();
					if($('#date_after').val()===''){
						var dateAfter = new Date( $('#date_after').val());
					}
					else{
					var dateAfter = new Date( `${$('#date_after').val()} 00:00:00`);}
					if($('#date_before').val()===''){
						var dateBefore = new Date( $('#date_before').val());
					}
					else{
					var dateBefore = new Date(`${$('#date_before').val()} 00:00:00`);}
					var subSelected = $('#sub_selected').val();
					console.log(subSelected);
					var mybody = document.querySelectorAll('#admin-tbody tr');
					var se = mybody.length;
					for (var zz = 1; zz < se; zz++) mybody[zz].remove();
					appendData(appNum, '', appFor, dateAfter, dateBefore, subSelected);
				}
			</script>
	</body>
	{% endif %}

</html>