<!DOCTYPE HTML>
{% load static %}
<html>

<head>
    <title>Faculty Recruitment Form | IIIT Lucknow</title>
    <meta charset="utf-8" />
    <meta name="viewport" author="MightyMoin" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <link rel="icon" href="{% static 'images/final_logo.png' %}">
    <noscript>
        <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
    </noscript>
</head>

<body class="">

    <!-- Wrapper -->
    <div id="wrapper">
        404 page
        <!-- Footer -->
        <footer id="footer">
            <section>
                <h2>How to Reach Us</h2>
                <p style="font-size: smaller;">The IIIT Lucknow campus is located at Chak Ganjeria City (C.G. City,
                    Sultanpur Road), Lucknow . It is 23 km from the airport(CCSI Airport) and 14 km from the main
                    railway station (Charbagh Junction).</p>
                <ul class="actions">
                    <li><a href="https://goo.gl/maps/NufsSCj5hg7rFvaTA" target="#3" class="button small"><i
                                class="fas fa-map-marked-alt"></i><span> View Map </span></a></a>
                    </li>
                </ul>
            </section>
            <section>
                <h2>Contact Details</h2>
                <dl class="alt" style="font-size: smaller;">
                    <dt>Address</dt>
                    <dd>IIIT Lucknow &bull; Chak Ganjaria, C.G. City &bull; Lucknow &bull; Uttar Pradesh – 226002 &bull;
                        India
                    </dd>
                    <dt>Email</dt>
                    <dd><a
                            href="mailto:contact@iiitl.ac.in?subject=Faculty%20Recruitment%20Query">contact@iiitl.ac.in</a>
                    </dd>
                </dl>
                <ul class="icons" style="font-size: small;">
                    <li><a href="https://www.linkedin.com/school/iiitl/" target="#4"
                            class="icon brands fa-linkedin alt"><span class="label">LinkedIn</span></a></li>
                    <li><a href="https://twitter.com/iiitlucknow" target="#5" class="icon brands fa-twitter alt"><span
                                class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/iiitlucknow/" target="#6"
                            class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
                    <!--	<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>	-->
                </ul>
            </section>
            <p class="copyright">&copy; 2020 <a href="https://iiitl.ac.in" target="#2">IIIT Lucknow</a>.</p>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="{% static 'assets/js/jquery.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.scrollex.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.scrolly.min.js'%}"></script>
    <script src="{% static 'assets/js/browser.min.js' %}"></script>
    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>


</body>

</html>