{% load socialaccount %}

<!DOCTYPE HTML>
{% load static %}
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" author="AgilePlaya" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	<link rel="icon" href="{% static 'images/final_logo.png'%}">
	<noscript>
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css'%}">
	</noscript>
	<title>Faculty Recruitment | IIIT Lucknow</title>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		 <!-- hamburger- for mobile view -->
		 <span class="menu_btn" onclick="openNav()">&#9776;</span>

		<!-- Header -->
		<header id="header" class="alt">
			<span class="logo"><img src="{% static 'images/final_logo_web_extended_lq.png' %}" alt="" /></span>
			<h1>Indian Institute of Information Technology, Lucknow</h1>
			<p>IIIT Lucknow, Chak Ganjaria, C. G. City, Lucknow – 226002<br />
				Contact: <a
					href="mailto:contact@iiitl.ac.in?subject=Faculty%20Recruitment%20Query">contact@iiitl.ac.in</a> for
				more information.</p>
			<h2>Rolling Advertisement for Faculty Recruitment</h2>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="#advert" class="active">Advertisement</a></li>
				<li><a href="#spec">Area of Specialization</a></li>
				<li><a href="#selec">Selection Procedure</a></li>
				<li><a href="{% provider_login_url 'google' %}">Login</a></li>
			</ul>
		</nav>

		        <!-- Mobile Nav Bar -->
				<div id="myNav" class=" nav overlay col-0 col-12-medium">
					<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
					<div class="overlay-content">
						<div><a href="#advert" onclick="closeNav()">Advertisement</a></div>
						<div><a href="#spec" onclick="closeNav()">Area of Specialization</a></div>
						<div><a href="#selec" onclick="closeNav()">Selection Procedure</a></div>
						<div><a href="{% provider_login_url 'google' %}" onclick="closeNav()">Login</a></div>
					</div>
				</div>
				<!-- Mobile Nav Ends here -->

		<!-- Main -->
		<div id="main">

			<!-- Advertisement Sections -->
			<section id="advert" class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>Advertisement Number:</h2>
						</header>
						<p> The Institute invites the applications from meritorious and highly qualified Indian
							nationals (including the Persons of Indian Origin
							(PIOs) and Overseas Citizens of India (OCIs)) from Engineering/Science and Technology
							background, for the following positions in the
							Departments of Information Technology and Computer Science. For SC/ST/OBC(NCL)/EWS/PwD GOI
							guidelines shall apply.<br> Candidates who have applied for the post
							of Professor against the advertisement IIITL/Recruitment/2019 need not to apply. However,
							updated CV’s may be sent to rectt.faculty@iiitl.ac.in.
							Roster as per Govenment of India is given in the pdf below:
						</p>
						<ul class="actions">
							<li><a href="{% static 'assets/downloads/Rolling_Advertisement_Contract.pdf'%}" target="##"
									class="button">Download Full PDF</a></li>
						</ul>
					</div>
					<a href="{% static 'assets/downloads/Newspaper_Advertisement.pdf'%}" target="#"><span
							class="image"><img src="{%static 'images/NewspaperAdvertisementWeb.jpg'%}"
								alt="" /></span></a>
				</div>
			</section>

			<!-- Area of specialization section -->
			<section id="spec" class="main special">
				<header class="major">
					<h2>Department Specific Areas of specialization sought:</h2>
				</header>
				<ul class="features">
					<li>
						<span class="icon solid major style1 fa-laptop-code"></span>
						<h3>CSE and IT</h3>
						<p>
							Advanced Computer Algorithm <br>
							Analysis and System Management<br>
							Graphic & Visual Computing<br>
							Wireless Communications<br>
							Software Engineering<br>
							Cloud Computing<br>
							Signal and Image Processing<br>
							Pattern Recognition and Machine Intelligence<br>
							Data Science and IoT<br>
						</p>
					</li>
					<li>
						<span class="icon solid major style1 fa-users"></span>
						<h3>Management/Humanities</h3>
						<p>
							Economics<br>
							English/Business Communication<br>
							Human Resources<br>
							Marketing<br>
							Operations Management<br>
							Organizational Behaviour<br><br>
							& other areas of Management...
						</p>
					</li>
				</ul>
			</section>

			<!-- Selection Procedure section -->
			<section id="selec" class="main alt">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>Selection Procedure:</h2>
						</header>
						<p>
						<ol>
							<li>The candidates as recommended by the committee shall be invited for the interview before
								the Statutory Selection Committee.</li>
							<br>
							<li>The candidate invited for IT/CS, Applied Sciences (Mathematics/Statistics) and
								Management/Humanities should present his/her own
								PhD thesis and the PhD thesis supervised/guided by him/her before the committee for the
								perusal by the committee</li>
							<br>
							<li>Based on the recommendations of the statutory Selection Committee and approval of Board
								of Governors the appointment letters shall be issued.</li>
							</ul>
							</p>
					</div>
				</div>
			</section>

			<!-- Apply Section -->
			<section id="apply" class="main special">
				<header class="major">
					<h2>Apply for Faculty Recruitment</h2>
					<p><strong>Only online applications through the given link will be accepted.</strong></p>
				</header>
				<footer class="major">
					<ul class="actions special">
						<li><a href="{% provider_login_url 'google' %}" class="button small primary">Login </a></li>
					</ul>
				</footer>
			</section>
		</div>

		<!-- Footer -->
		<footer id="footer">
			<section>
				<h2 style="font-size: x-large;">How to Reach Us</h2>
				<p style="font-size: smaller;">The IIIT Lucknow campus is located at Chak Ganjeria City (C.G. City,
					Sultanpur Road), Lucknow . It is 23 km from the airport(CCSI Airport)
					and 14 km from the main railway station (Charbagh Junction).</p>
				<ul class="actions">
					<li><a href="https://goo.gl/maps/NufsSCj5hg7rFvaTA" target="####" class="button small"><i
								class="fas fa-map-marked-alt"></i><span> View Map </span></a></a></li>
				</ul>
			</section>
			<section>
				<h2 style="font-size: x-large;">Contact Details</h2>
				<dl class="alt" style="font-size: smaller;">
					<dt>Address</dt>
					<dd>IIIT Lucknow &bull; Chak Ganjaria, C.G. City &bull; Lucknow &bull; Uttar Pradesh – 226002 &bull;
						India</dd>
					<!--	<dt>Phone</dt>
						<dd>(000) 000-0000 x 0000</dd>	-->
					<dt>Email</dt>
					<dd><a
							href="mailto:contact@iiitl.ac.in?subject=Faculty%20Recruitment%20Query">contact@iiitl.ac.in</a>
					</dd>
				</dl>
				<ul class="icons" style="font-size: small;">
					<li><a href="#" class="icon brands fa-linkedin alt"><span class="label">LinkedIn</span></a></li>
					<li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
					<!--	<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>	-->
				</ul>
			</section>
			<p class="copyright">&copy; 2020 <a href="https://iiitl.ac.in" target="###">IIIT Lucknow</a>.</p>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.scrolly.min.js'%}"></script>
	<script src="{% static 'assets/js/browser.min.js'%}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js'%}"></script>
	<script src="{% static 'assets/js/util.js'%}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>