{% load socialaccount %}

<!DOCTYPE HTML>
{% load static %}
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" author="AgilePlaya" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	<link rel="icon" href="{% static 'images/final_logo.png'%}">
	<noscript>
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css'%}">
	</noscript>
	<title>Faculty Recruitment | IIIT Lucknow</title>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- hamburger- for mobile view -->
		<span class="menu_btn" onclick="openNav()">&#9776;</span>

		<!-- Header -->
		<header id="header" class="alt">
			<span class="logo"><img src="{% static 'images/final_logo_web_extended_lq.png' %}" alt="" /></span>
			<h1>Indian Institute of Information Technology, Lucknow</h1>
			<p>IIIT Lucknow, Chak Ganjaria, C. G. City, Lucknow – 226002<br />
				Contact: <a
					href="mailto:recruitment_faculty@iiitl.ac.in?subject=Faculty%20Recruitment%20Query">recruitment_faculty@iiitl.ac.in</a>
				for
				more information.</p>
			<h2>Rolling Advertisement for Faculty Recruitment</h2>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="#advert" class="active">Advertisement</a></li>
				<li><a href="#spec">Area of Specialization</a></li>
				<li><a href="#selec">Selection Procedure</a></li>
				<li><a href="{% provider_login_url 'google' %}">Login</a></li>
			</ul>
		</nav>

		<!-- Mobile Nav Bar -->
		<div id="myNav" class=" nav overlay col-0 col-12-medium">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<div class="overlay-content">
				<div><a href="#advert" onclick="closeNav()">Advertisement</a></div>
				<div><a href="#spec" onclick="closeNav()">Area of Specialization</a></div>
				<div><a href="#selec" onclick="closeNav()">Selection Procedure</a></div>
				<div><a href="{% provider_login_url 'google' %}" onclick="closeNav()">Login</a></div>
			</div>
		</div>
		<!-- Mobile Nav Ends here -->

		<!-- Main -->
		<div id="main">

			<!-- Advertisement Sections -->
			<section id="advert" class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major special">
							<h2>Advertisement Number: IIITL/Recruitment/RA-02/2021 </h2>
						</header>
						<p style="text-align: justify;"> Indian Institute of Information Technology Lucknow (IIIT- Lucknow) is an Institute of
							National
							Importance established by an Act of Parliament in Public Private Partnership (PPP) Model
							under the
							Ministry of Education, Government of India. The Institute offers B.Tech., PG Diploma,
							M.Tech., M.B.A.
							and Ph.D. Programmes. The Institute invites online applications from meritorious and highly
							qualified
							Indian nationals including the Persons of Indian Origin (PIOs) and Overseas Citizens of
							India (OCIs) for
							the faculty positions (under Four-Tier-Faculty-Structure) in the Departments of Computer
							Science (CS),
							Information Technology (IT), Management & Humanities (M&H) and Mathematics. Guidelines for
							reservations as per Government of India Norms will be followed.<br> <br>

							Post-Doctoral Experience in reputed institutions in India and abroad will be an added
							advantage for faculty positions. Industry professionals having substantial professional and
							R&D
							experience with good number of quality publications in leading Journals or patents in
							relevant field
							can also apply.
							Roster as per government of India is given in the pdf below:
						</p>
						<ul class="actions">
							<li><a href="{% static 'assets/downloads/Rolling_Advertisement_Contract.pdf'%}" target="##"
									class="button">Download Full PDF</a></li>
						</ul>
					</div>
					<a href="{%static 'images/NewspaperAdvertisementWeb.jpg'%}" target="#"><span class="image"><img
								src="{%static 'images/NewspaperAdvertisementWeb.jpg'%}" alt="" /></span></a>
				</div>
			</section>

			<!-- Area of specialization section -->
			<section id="spec" class="main special">
				<header class="major">
					<h2>Department Specific Areas of specialization sought:</h2>
				</header>
				<div class="row gtr-uniform features">
					<div class="col-4 col-5-medium col-12-small" ">
						<span class="icon solid major style1 fa-laptop-code"></span>
						<h3><b>Computer Science / Information Technology</b></h3>
					</div>
					<div class="col-8 col-7-medium col-12-small" style="display: flex; align-items: center; text-align: justify;">
							Advanced Computer Algorithm and Analysis, Artificial Intelligence, Big Data Analytics, Block
							Chain, Cloud Computing, Computer Architecture, Data Science, Graphic & Visual Computing,
							Image Processing and Computer Vision, Internet of Things, Modelling and Simulation, Network
							Security, Operating Systems, Pattern Recognition, Software Product Development, Programming
							Languages (Object Oriented, Python, R), Quantum Computing, Quantum Communications, Quantum
							Cryptography, Software Engineering, Social Networking, Virtual Reality, Wireless
							Communications.
					</div>
					<div class="col-4 col-5-medium col-12-small">
						<span class="icon solid major style1 fas fa-calculator"></span>
						<h3><b>Mathematics</b></h3>
					</div>
					<div class="col-8 col-7-medium col-12-small" style="display: flex; align-items: center; text-align: justify;">
							Applied Mathematics, Computational Finance, Data Science, Fractal Geometry, Game Theory,
							Graph Theory, Machine Learning, Mathematical Analysis, Modelling and Simulation,
							Optimization Techniques, PostQuantum Cryptography, Probability and Statistics for Machine
							Learning and Data Science, Topology for Data Mining.
					</div>

					<div class="col-4 col-5-medium col-12-small">
						<span class="icon solid major style1 fa-users"></span>
						<h3><b>Management & Humanities</b></h3>
					</div>
					<div class="col-8 col-7-medium col-12-small" style="display: flex; align-items: center; text-align: justify;">
							Algorithmic Trading, Business Analytics, Digital Banking and Financial Technologies,
							Economics, Innovation and Design Thinking, Product Development and Management, Quantitative
							Finance, Strategy and Entrepreneurship.
					</div>
				</div>

			</section>

			<!-- Selection Procedure section -->
			<section id="selec" class="main alt">
				<div class="spotlight">
					<div class="content">
						<header class="major special">
							<h2>Selection Procedure:</h2>
						</header>
						<p>
						<ol style="text-align: justify;">
							<li>The candidates as recommended by the shortlisting committee shall be invited for the
								interview
								before the Statutory Selection Committee.</li>
							<br>
							<li>All the invited candidates should present their own PhD thesis and the PhD thesis
								supervised/guided by him/her before the committee for the perusal by the committee.</li>
							<br>
							<li>Based on the recommendations of the statutory Selection Committee and approval of Board
								of
								Governors the appointment letters shall be issued</li>
							</ul>
							</p>
					</div>
				</div>
			</section>

			<!-- Apply Section -->
			<section id="apply" class="main special">
				<header class="major">
					<h2>Apply for Faculty Recruitment</h2>
					<p style="margin-bottom: 0;"><strong>Only online applications through the given link will be accepted.</strong></p>
					<p style="margin-bottom: 0;">(Login with a Google account only.)</p>
					<p style="margin-bottom: 0;">(It is adviced to use <strong>Google Chrome</strong> for seamless and best experience.)</p>
				</header>
				<footer class="major">
					<ul class="actions special">
						<li><a href="{% provider_login_url 'google' %}" class="button small primary">Login </a></li>
					</ul>
				</footer>
			</section>
		</div>

		<!-- Footer -->
		<footer id="footer">
			<section>
				<h2 style="font-size: x-large;">How to Reach Us</h2>
				<p style="font-size: smaller;">The IIIT Lucknow campus is located at Chak Ganjeria City (C.G. City,
					Sultanpur Road), Lucknow . It is 23 km from the airport(CCSI Airport)
					and 14 km from the main railway station (Charbagh Junction).</p>
				<ul class="actions">
					<li><a href="https://goo.gl/maps/NufsSCj5hg7rFvaTA" target="blank" class="button small"><i
								class="fas fa-map-marked-alt"></i><span> View Map </span></a></a></li>
				</ul>
			</section>
			<section>
				<h2 style="font-size: x-large;">Contact Details</h2>
				<dl class="alt" style="font-size: smaller;">
					<dt>Address</dt>
					<dd>IIIT Lucknow &bull; Chak Ganjaria, C.G. City &bull; Lucknow &bull; Uttar Pradesh – 226002 &bull;
						India</dd>
					<!--	<dt>Phone</dt>
						<dd>(000) 000-0000 x 0000</dd>	-->
					<dt>Email</dt>
					<dd><a
							href="mailto:recruitment_faculty@iiitl.ac.in?subject=Faculty%20Recruitment%20Query">recruitment_faculty@iiitl.ac.in</a>
					</dd>
				</dl>
				<ul class="icons" style="font-size: small;">
					<li><a href="https://www.linkedin.com/school/iiitl/" target="#4"
							class="icon brands fa-linkedin alt"><span class="label">LinkedIn</span></a></li>
					<li><a href="https://twitter.com/iiitlucknow" target="#5" class="icon brands fa-twitter alt"><span
								class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/iiitlucknow/" target="#6"
							class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
					<!--	<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>	-->
				</ul>
			</section>
			<p class="copyright">© Copyright 2021 - <a href="https://darl.iiitl.ac.in" target="blank"
					style="font-weight:500;">Data Analytics Research Lab</a>, <a href="https://iiitl.ac.in"
					target="blank" style="font-weight:500;">IIIT Lucknow</a> All Rights Reserved.</p>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.scrolly.min.js'%}"></script>
	<script src="{% static 'assets/js/browser.min.js'%}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js'%}"></script>
	<script src="{% static 'assets/js/util.js'%}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>