{% load socialaccount %}
<!DOCTYPE HTML>

{% load static %}
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" author="AgilePlaya" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	<link rel="icon" href="{% static 'images/final_logo.png'%}">
	<noscript>
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css'%}">
	</noscript>
	<title>Faculty Recruitment | IIIT Lucknow</title>
</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- hamburger- for mobile view -->
		<span class="menu_btn" onclick="openNav()">&#9776;</span>

		<!-- Header -->
		<header id="header" class="alt">
			<span class="logo"><img src="{% static 'images/final_logo_web_extended_lq.png' %}" alt="" /></span>
			<h1>Indian Institute of Information Technology, Lucknow</h1>
			<p>IIIT Lucknow, Chak Ganjaria, C. G. City, Lucknow – 226002<br />
				Contact: <a
				href="mailto:contact@iiitl.ac.in?subject=Faculty%20Recruitment%20Query">contact@iiitl.ac.in</a> for
				more information.</p>
				{% if user.is_authenticated %}
				<h2>Rolling Advertisement for Faculty Recruitment</h2>
				{% else %}
					<div id="main" >
						<div class="content" style="padding: 2rem;">
							<h2 style="margin-bottom: 2rem;">
								You are not logged in</h2>
								<a class="btn" style="border-radius: .3rem; padding: .5rem; padding-left: 1rem; padding-right: 1rem; color: white; background-color: #005F9A;" href="{% provider_login_url 'google' %}" >Login </a>
						</div>
					</div>
				{% endif %}
			</header>
			
			<!-- Nav -->
			{% if user.is_authenticated and user.is_superuser != 1%}
			<nav id="nav">
				<ul>
				<li><a href="#advert" class="active" style="padding-right: 0.8em;padding-left: 0.8em;">Advertisement</a></li>
				<li><a href="#spec" style="padding-right: 0.8em;padding-left: 0.8em;">Area of Specialization</a></li>
				<li><a href="#selec" style="padding-right: 0.8em;padding-left: 0.8em;">Selection Procedure</a></li>
				<li><a href="#guide" style="padding-right: 0.8em;padding-left: 0.8em;">Guidelines</a></li>
				<li><a href="#reserve" style="padding-right: 0.8em;padding-left: 0.8em;">Reservation</a></li>
				<li><a href="#apply" style="padding-right: 0.8em;padding-left: 0.8em;">Apply</a></li>
				<li><a style="padding: 0;padding-right: 0.2em;padding-left: 0.4em;">
						<form method="post" action="{% url 'account_logout' %}">
							{% csrf_token %}
							{% if redirect_field_value %}
							<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
							{% endif %}
							<button style="background-color : red !important;" type="submit">Logout</button>
						</form>
					</a></li>
			</ul>
		</nav>
		<!-- Mobile Nav Bar -->
		<div id="myNav" class=" nav overlay col-0 col-12-medium">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<div class="overlay-content">
				<div><a href="#advert" class="active" onclick="closeNav()">Advertisement</a></div>
				<div><a href="#spec" onclick="closeNav()">Area of Specialization</a></div>
				<div><a href="#selec" onclick="closeNav()">Selection Procedure</a></div>
				<div><a href="#guide" onclick="closeNav()">Guidelines</a></div>
				<div><a href="#reserve" onclick="closeNav()">Reservation</a></div>
				<div><a href="#apply" onclick="closeNav()">Apply</a></div>
				<div><a>
						<form method="post" action="{% url 'account_logout' %}">
							{% csrf_token %}
							{% if redirect_field_value %}
							<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
							{% endif %}
							<button style="background-color : red !important;" type="submit">Logout</button>
						</form>
					</a></div>
			</div>
		</div>
		<!-- Mobile Nav Ends here -->
		<!-- Main -->
		<div id="main">

			<!-- Advertisement Sections -->
			<section id="advert" class="main special">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>Advertisement Number:</h2>
						</header>
						<p> The Institute invites the applications from meritorious and highly qualified Indian
							nationals (including the Persons of Indian Origin
							(PIOs) and Overseas Citizens of India (OCIs)) from Engineering/Science and Technology
							background, for the following positions in the
							Departments of Information Technology and Computer Science. For SC/ST/OBC(NCL)/EWS/PwD GOI
							guidelines shall apply.<br> Candidates who have applied for the post
							of Professor against the advertisement IIITL/Recruitment/2019 need not to apply. However,
							updated CV’s may be sent to rectt.faculty@iiitl.ac.in.
							Roster as per Govenment of India is given in the pdf below:
						</p>
						<ul class="actions">
							<li><a href="{% static 'assets/downloads/Rolling_Advertisement_Contract.pdf'%}" target="##"
									class="button">Download Full PDF</a></li>
						</ul>
					</div>
					<a href="{% static 'assets/downloads/Newspaper_Advertisement.pdf'%}" target="#">
						<span class="image" style="margin-top: 5em;">
							<img src="{%static 'images/NewspaperAdvertisementWeb.jpg'%}" alt="" />
						</span>
					</a>
				</div>
			</section>

			<!-- Area of specialization section -->
			<section id="spec" class="main special">
				<header class="major">
					<h2>Department Specific Areas of specialization sought:</h2>
				</header>
				<ul class="features">
					<li>
						<span class="icon solid major style1 fa-laptop-code"></span>
						<h3>CSE and IT</h3>
						<p>
							Advanced Computer Algorithm <br>
							Analysis and System Management<br>
							Graphic & Visual Computing<br>
							Wireless Communications<br>
							Software Engineering<br>
							Cloud Computing<br>
							Signal and Image Processing<br>
							Pattern Recognition and Machine Intelligence<br>
							Data Science and IoT<br>
						</p>
					</li>
					<li>
						<span class="icon solid major style1 fa-users"></span>
						<h3>Management/Humanities</h3>
						<p>
							Economics<br>
							English/Business Communication<br>
							Human Resources<br>
							Marketing<br>
							Operations Management<br>
							Organizational Behaviour<br><br>
							& other areas of Management...
						</p>
					</li>
				</ul>
			</section>

			<!-- Selection Procedure section -->
			<section id="selec" class="main special">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>Selection Procedure:</h2>
						</header>
						<p>
						<ol>
							<li>The candidates as recommended by the committee shall be invited for the interview before
								the Statutory Selection Committee.</li>
							<br>
							<li>The candidate invited for IT/CS, Applied Sciences (Mathematics/Statistics) and
								Management/Humanities should present his/her own
								PhD thesis and the PhD thesis supervised/guided by him/her before the committee for the
								perusal by the committee</li>
							<br>
							<li>Based on the recommendations of the statutory Selection Committee and approval of Board
								of Governors the appointment letters shall be issued.</li>
							</ul>
							</p>
					</div>
				</div>
			</section>

			<!-- Guidelines section -->
			<section id="guide" class="main special">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>Guidelines:</h2>
							<p></p>
						</header>
						<p>
						<ol style="text-align: justify;">
							<li><strong>Only</strong> applications received through the <strong>ONLINE APPLICATION
									PORTAL</strong>, will be
								considered.<br></li>
							<br>
							<li>Candidates applying for more than one post/department have to submit separate complete
								applications.</li>
							<br>
							<li>For each of the qualifications, professional experiences, achievements, etc.,
								documentary proof in the form of self-attested
								photo-copies is to be produced, if called for interview.<br></li>
							<br>
							<li>The originals must be produced at the time of interview and at the time of joining.</li>
							<br>
							<li>Consistently good academic background with all requirements for any category of post
								applied, as per guidelines of MHRD
								letter no. F.No.27-11/2011- TS.I, dated 23/04/2014.<br></li>
							<br>
							<li>Incomplete applications / applications without necessary enclosures may not be
								accepted.<br></li>
							<br>
							<li>Copy of the category certificate (OBC / SC / ST/ PwD), issued by the competent
								authority,
								not below the rank of a Tahsildar, and must be attached. In case of OBC candidates, the
								certificate indicating the status regarding creamy layer must be issued on or after
								01/01/2019.
								PWD certificate must have been issued by the competent authority as per Government of
								India
								norms.<br></li>
							<br>
							<li>The vacancies advertised under EWS Category is as per the instructions issued by DoPT,
								Ministry of Personnel, Public Grievances & Pension, Govt. of India, vide OM. No.
								36039/1/2019-Estt (Res), dated 31.01.2019. EWS vacancies are tentative and subject to
								further
								directives of Gol and outcome of any litigation. The appointment against EWS category
								shall
								be provisional and is subject to the Income and Asset certificate being verified through
								the
								proper channels and if the verification reveals that the claim of belonging to EWS is
								fake/false,
								the services will be terminated forthwith without assigning any further reasons and
								without
								prejudice to such further action as may be taken under the provisions of the Indian
								Penal Code
								for production of fake/false certificate. The Income and Asset Certificate issued by any
								of the
								authorities mentioned in the prescribed format shall only be accepted as proof of
								candidate’s
								claim as belonging to EWS.<br></li>
							<br>
							<li>The eligibility, qualification, experience and requirements for the posts notified shall
								be
								governed by the guidelines issued by MHRD letter no. F.No.27-11/2011- TS.I, dated
								23/04/2014.<br></li>
							<br>
							<li>The vacancies advertised are indicative and subject to variation at the time of
								interview
								/ recruitment. The Institute reserves the right to fill or not to fill any of the
								vacancies advertised.
								The Institute reserves the right to reject any or all applications without assigning any
								reason.<br></li>
							<br>
							<li>Any misleading wrong information supplied by the candidates may lead to summarily
								rejection
								of the application, if found subsequently, also the appointment will be cancelled.<br>
							</li>
							<br>
							<li>The Screening committee shall short-list the eligible and desirable candidates, to be
								called for
								interview from amongst the applicants, based on specialization, availability of
								candidates, and
								requirements of the departments. In doing so it shall not be bound by the options
								exercised by
								the applicants.<br></li>
							<br>
							<li>Mere fulfilment of minimum qualification and experience requirements for the post does
								not
								entitle the candidate to be called for an interview. The Institute reserves the right to
								restrict
								the number of candidates for interview to reasonable limit, on the basis of
								qualification and
								experience higher than those prescribed in this advertisement.<br></li>
							<br>
							<li>No interim queries regarding interview / selection process will be entertained.<br></li>
							<br>
							<li>Canvassing in any form will lead to rejection of application form.<br></li>
							<br>
							<li>Decision of the Selection Committee and the Board of Governors of IIIT Lucknow with
								respect
								to the selection process is final.<br></li>
							<br>
							<li>Legal disputes, if any with IIIT Lucknow are restricted to the jurisdiction of Lucknow
								Court
								only.<br></li>
							<br>
							<li>The maximum age limit will be considered on the last date of receipt of applications.
								The
								relaxation 05 years for SC/ST candidates and 03 years for OBC candidates with additional
								10
								years age relaxation to persons with disabilities will be given in accordance with the
								Government of India Rules. Relaxation in upper age limit for those applicants, who are
								in
								Central Government or central Government Autonomous body, Ex-Servicemen, shall be
								admissible as per the Government of India rules. Further, the institute may consider
								relaxation
								in upper age limit in case of highly experienced and deserving candidate.<br></li>
							<br>
							<li>Person employed in Govt./Semi-Govt./Autonomous/PSU should also apply online and sent the
								print out of completed application form along with all the relevant supporting documents
								and
								transaction slip with date, duly self-attested, THROUGH PROPER CHANNEL. However, an
								advance copy, super scribed as “Advance Copy” on the application form, may be submitted
								before the last date. Candidate may produce the NOC from their organization at the time
								of
								interview with an unambiguous certificate that (i) no vigilance case is pending/being
								contemplated against him/her. (ii) the applicant will be relieved within one month of
								receipt of
								appointment offer, if he selected. List of Major/Minor penalties, if any, imposed during
								the last
								10 years may be asked to submit at any time. Such persons are also advised to send an
								advance
								copy of their application, if applicable.</li>
						</ol>
						</p>
					</div>
				</div>
			</section>

			<!-- Reservation Sections -->
			<section id="reserve" class="main special">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>Reservation</h2>
						</header>
						<p style="text-align: justify;"> Reservation at entry level is applicable as per Government of
							India rules. The candidate belonging to reserved
							categories(SC/ST/OBC-NCL/PwD/EWS) are required to attach the Caste/ Category/Income
							certificate issued by the competent authority in prescribed
							format of Government of India. The Institute follows the Central list in the case of SC/ST
							and OBC-NCLs. The institute also encourages
							applications from qualified women candidates.
						</p>
					</div>
				</div>
			</section>

			<!-- Apply Section -->
			<section id="apply" class="main special">
				<header class="major">
					<h2>Apply for Faculty Recruitment</h2>
					<p><strong>Only online applications through the given link will be accepted.</strong></p>
				</header>
				<footer class="major">
					<ul class="actions special">
						<li><a href="/submit/" class="button small primary">Apply Online</a></li>
					</ul>
				</footer>
			</section>

			{% endif%}
		</div>

		<!-- Footer -->
		<footer id="footer">
			<section>
				<h2 style="font-size: x-large;">How to Reach Us</h2>
				<p style="font-size: smaller;">The IIIT Lucknow campus is located at Chak Ganjeria City (C.G. City,
					Sultanpur Road), Lucknow . It is 23 km from the airport(CCSI Airport)
					and 14 km from the main railway station (Charbagh Junction).</p>
				<ul class="actions">
					<li><a href="https://goo.gl/maps/NufsSCj5hg7rFvaTA" target="####" class="button small"><i
								class="fas fa-map-marked-alt"></i><span> View Map </span></a></a></li>
				</ul>
			</section>
			<section>
				<h2 style="font-size: x-large;">Contact Details</h2>
				<dl class="alt" style="font-size: smaller;">
					<dt>Address</dt>
					<dd>IIIT Lucknow &bull; Chak Ganjaria, C.G. City &bull; Lucknow &bull; Uttar Pradesh – 226002 &bull;
						India</dd>
					<!--	<dt>Phone</dt>
						<dd>(000) 000-0000 x 0000</dd>	-->
					<dt>Email</dt>
					<dd><a
							href="mailto:contact@iiitl.ac.in?subject=Faculty%20Recruitment%20Query">contact@iiitl.ac.in</a>
					</dd>
				</dl>
				<ul class="icons" style="font-size: small;">
					<li><a href="#" class="icon brands fa-linkedin alt"><span class="label">LinkedIn</span></a></li>
					<li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
					<!--	<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>	-->
				</ul>
			</section>
			<p class="copyright">&copy; 2020 <a href="https://iiitl.ac.in" target="###">IIIT Lucknow</a>.</p>
		</footer>

	</div>
	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.scrolly.min.js'%}"></script>
	<script src="{% static 'assets/js/browser.min.js'%}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js'%}"></script>
	<script src="{% static 'assets/js/util.js'%}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>