{% load socialaccount %}

<!DOCTYPE HTML>
{% load static %}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" author="AgilePlaya" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="icon" href="{% static 'images/final_logo.png'%}">
    <noscript>
        <link rel="stylesheet" href="{% static 'assets/css/noscript.css'%}">
    </noscript>
    <title>Faculty Recruitment | IIIT Lucknow</title>
</head>

<body>
    <br>
    <br>
    <br>
    {{abcd}}
    
</body>