<!DOCTYPE HTML>
{% load static %}
<html>

<head>
	<title>Faculty Recruitment Form | IIIT Lucknow</title>
	<meta charset="utf-8" />
	<meta name="viewport" author="AgilePlaya" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<link rel="icon" href="{% static 'images/final_logo.png' %}">
	<noscript>
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">
		<!-- hamburger- for mobile view -->
		<span class="menu_btn" onclick="openNav()">&#9776;</span>
		<!-- 	Header	-->
		<header id="header">
			<span class="logo"><img src="{% static 'images/final_logo_web_extended_lq.png' %}" alt="" /></span>
			<h1>Faculty Recruitment Form</h1>
		</header>

		<!-- Main part -->
		<div id="main">
			<!-- Content -->
			<section id="content" class="main" style="padding-top: 0;">
				<!--	Congratulatory Message	-->
				<div class="spotlight">
					<div class="content main special">
						<!--	Change the content in the h3 tag to set the congratulatory message	-->
						{% if message %}
						<h3>{{message}}</h3>
						{% endif %}
					</div>
				</div>

				<!--	Start of form	-->
				<form method="GET" enctype="multipart/form-data">
					<!-- {% csrf_token %}
					{% for resp in ProfessionalDetails%}
					{{resp.name}}<br />
					{% endfor%} -->
					<br>
					<div class="table-wrapper" style="padding: 2px;">
						<table style="text-align-last: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;min-width: 100vh;">
							<tbody class="application-row">
								<tr id="app-thead">
									<td colspan="24" style="border-top-left-radius: 1rem; border-bottom: 1px solid #a6a6a6;">Section A</td>
								</tr>
								<tr>
									<td colspan="6">Application No.</td>
									<td colspan="6">{{applicant_data.application_number}}</td>
									<td colspan="12" rowspan="5" style="vertical-align: middle;">
									    <div style="max-width: min-content;margin-inline: auto;"><img id="profileImage" class="img-fluid mx-auto" src="{% static 'images/profilepic.png' %}" style="max-width: 16%;min-width: 12em; border-radius: 5vh;padding: 0;" /></div>
									</td>
								</tr>
								<tr>
									<td colspan="6">Application No.</td>
									<td colspan="6">{{applicant_data.application_number}}</td>
								</tr>
								<tr>
									<td colspan="6">Application No.</td>
									<td colspan="6">{{applicant_data.application_number}}</td>
								</tr>
								<tr>
									<td colspan="6">Application No.</td>
									<td colspan="6">{{applicant_data.application_number}}</td>
								</tr>
								<tr>
									<td colspan="6">Full Name</td>
									<td colspan="6">{{general_data.full_name}}</td>
								</tr>
								<tr>
									<td colspan="6">Date of Birth</td>
									<td colspan="6">{{general_data.DOB}}</td>
									<td colspan="6">Category</td>
									<td colspan="6">{{general_data.category}}</td>
								</tr>
								<tr>
									<td colspan="6">Father's Name</td>
									<td colspan="18">{{general_data.father_name}}</td>
								</tr><tr><td colspan="24"></td></tr>
								<tr>
									<td colspan="6">Mailing Address</td>
									<td colspan="6">{{general_data.DOB}}</td>
									<td colspan="6">Permanent Address</td>
									<td colspan="6">{{general_data.category}}</td>
								</tr>
								<tr>
									<td colspan="6">Mailing Pincode</td>
									<td colspan="6">{{general_data.DOB}}</td>
									<td colspan="6">Permanent Pincode</td>
									<td colspan="6">{{general_data.category}}</td>
								</tr>
								<tr>
									<td colspan="6">Mailing Telephone</td>
									<td colspan="6">{{general_data.DOB}}</td>
									<td colspan="6">Permanent Telephone</td>
									<td colspan="6">{{general_data.category}}</td>
								</tr><tr><td colspan="24"></td></tr>
								<tr>
									<td colspan="6">State of Domicile</td>
									<td colspan="6">{{general_data.DOB}}</td>
									<td colspan="6">Nationality</td>
									<td colspan="6">{{general_data.category}}</td>
								</tr>
								<tr>
									<td colspan="6">Mobile No.</td>
									<td colspan="6">{{general_data.DOB}}</td>
									<td colspan="6">Gender</td>
									<td colspan="6">{{general_data.category}}</td>
								</tr>
								<tr>
									<td colspan="6">Email ID</td>
									<td colspan="18">{{general_data.email}}</td>
								</tr>
								<tr>
									<td colspan="6">Reservation Status<br>(with Certificate)</td>
									<td colspan="4" style="vertical-align: middle;">{{general_data.reservation}}</td>
									<td colspan="14">{{general_data.certificate}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</section>
		</div>
	</div>

	<!-- Footer -->
	<footer id="footer">
		<section>
			<h2>How to Reach Us</h2>
			<p style="font-size: smaller;">The IIIT Lucknow campus is located at Chak Ganjeria City (C.G. City,
				Sultanpur Road), Lucknow . It is 23 km from the airport(CCSI Airport)
				and 14 km from the main railway station (Charbagh Junction).</p>
			<ul class="actions">
				<li><a href="https://goo.gl/maps/NufsSCj5hg7rFvaTA" target="#3" class="button small"><i
							class="fas fa-map-marked-alt"></i><span> View Map </span></a></a></li>
			</ul>
		</section>
		<section>
			<h2>Contact Details</h2>
			<dl class="alt" style="font-size: smaller;">
				<dt>Address</dt>
				<dd>IIIT Lucknow &bull; Chak Ganjaria, C.G. City &bull; Lucknow &bull; Uttar Pradesh – 226002 &bull;
					India</dd>
				<dt>Email</dt>
				<dd><a href="mailto:contact@iiitl.ac.in?subject=Faculty%20Recruitment%20Query">contact@iiitl.ac.in</a>
				</dd>
			</dl>
			<ul class="icons" style="font-size: small;">
				<li><a href="https://www.linkedin.com/school/iiitl/" target="#4"
						class="icon brands fa-linkedin alt"><span class="label">LinkedIn</span></a></li>
				<li><a href="https://twitter.com/iiitlucknow" target="#5" class="icon brands fa-twitter alt"><span
							class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/iiitlucknow/" target="#6"
						class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
				<!--	<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>	-->
			</ul>
		</section>
		<p class="copyright">&copy; 2020 <a href="https://iiitl.ac.in" target="#2">IIIT Lucknow</a>.</p>
	</footer>

	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js'%}"></script>
	<script src="{% static 'assets/js/jquery.scrollex.min.js'%}"></script>
	<script src="{% static 'assets/js/jquery.scrolly.min.js'%}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>

	<!-- <script>
		$('#profileImage').click(function (e) {
			$('#imageUpload').click();
		});
		function fasterPreview(uploader) {
			if (uploader.files && uploader.files[0]) {
				$('#profileImage').attr('src',window.URL.createObjectURL(uploader.files[0])
				);
			}
		}

		$('#imageUpload').change(function () {
			fasterPreview(this);
		});
	</script> -->



	<script>
		var _ = new Date();
		for (let j = 1; j <= 9; j++) {
			for (let i = _.getFullYear(); i >= 1950; i--) {
				if (document.getElementById("yearOfPassing" + j) !== null)
					document.getElementById("yearOfPassing" + j).innerHTML += "<option value='" + i + "'>" + i + "</option>\n"
			}
			for (let i = 2050; i >= _.getFullYear() + 1; i--) {
				if (document.getElementById("yearOfPassing" + j) !== null)
					document.getElementById("yearOfPassing" + j).innerHTML += "<option value='" + i + "'>" + i + "</option>\n"
			}
		}
	</script>
</body>

</html>