<!DOCTYPE HTML>
{% load static %}
<html>

<head>
	<title>Faculty Recruitment Form | IIIT Lucknow</title>
	<meta charset="utf-8" />
	<meta name="viewport" author="MightyMoin" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<link rel="icon" href="{% static 'images/final_logo.png' %}">
	<noscript>
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">
		<!-- hamburger- for mobile view -->
		<span class="menu_btn" onclick="openNav()">&#9776;</span>
		<!-- 	Header	-->
		<header id="header">
			<span class="logo"><img src="{% static 'images/final_logo_web_extended_lq.png' %}" alt="" /></span>
			<h1>Faculty Recruitment Form</h1>
		</header>

		<!-- Main part -->
		<div id="main">
			<!-- Content -->
			<section id="content" class="main" style="padding-top: 0;">
				<!--	Congratulatory Message	-->
				<div class="spotlight">
					<div class="content main special">
						<!--	Change the content in the h3 tag to set the congratulatory message	-->
						{% if message %}
						<h3>{{message}}</h3>
						{% endif %}
					</div>
				</div>

				<!--	Start of form	-->
				<form method="GET" enctype="multipart/form-data">
					{% csrf_token %}
					<br>
					<div class="table-wrapper" style="padding: 2px;">
						<table
							style="text-align: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;min-width: 50vh;">
							<tbody class="application-row" style="text-align: center;">
								<tr id="app-thead">
									<td colspan="24"
										style="border-top-left-radius: 1rem; border-top-right-radius: 1rem; border-bottom: 1px solid #a6a6a6;">
										Section A</td>
								</tr>
								<tr>
									<td colspan="6">Application No.</td>
									<td colspan="6">{{applicant_data.application_number}}</td>
									<td colspan="12" rowspan="5" style="vertical-align: middle;">
										<div style="max-width: min-content;margin-inline: auto;"><img id="profileImage"
												class="img-fluid mx-auto" src="{{ applicant_data.profile_photo.url  }}"
												style="max-width: 16%;min-width: 12em; border-radius: 5vh;padding: 0;" />
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="6">Post</td>
									<td colspan="6">{{applicant_data.post}}</td>
								</tr>
								<tr>
									<td colspan="6">Department/School</td>
									<td colspan="6">{{applicant_data.department}}</td>
								</tr>
								<tr>
									<td colspan="6">Research Domain</td>
									<td colspan="6">{{applicant_data.reserach_domain}}</td>
								</tr>
								<tr>
									<td colspan="6">Full Name</td>
									<td colspan="6">{{general_data.full_name}}</td>
								</tr>
								<tr>
									<td colspan="6">Date of Birth</td>
									<td colspan="6">{{general_data.DOB}}</td>
									<td colspan="6">Category</td>
									<td colspan="6">{{general_data.category}}</td>
								</tr>
								<tr>
									<td colspan="6">Father's Name</td>
									<td colspan="18">{{general_data.father_name}}</td>
								</tr>
								<tr>
									<td colspan="24"></td>
								</tr>
								<tr>
									<td colspan="6" style="inline-size: 25%;">Mailing Address</td>
									<td colspan="6" style="inline-size: 25%;">{{general_data.address_mail}}</td>
									<td colspan="6" style="inline-size: 25%;">Permanent Address</td>
									<td colspan="6" style="inline-size: 25%;">{{general_data.address_perm}}</td>
								</tr>
								<tr>
									<td colspan="6">Mailing Pincode</td>
									<td colspan="6">{{general_data.pin_mail}}</td>
									<td colspan="6">Permanent Pincode</td>
									<td colspan="6">{{general_data.pin_perm}}</td>
								</tr>
								<tr>
									<td colspan="6">Mailing Telephone</td>
									<td colspan="6">{{general_data.telephone_mail}}</td>
									<td colspan="6">Permanent Telephone</td>
									<td colspan="6">{{general_data.telephone_perm}}</td>
								</tr>
								<tr>
									<td colspan="24"></td>
								</tr>
								<tr>
									<td colspan="6">State of Domicile</td>
									<td colspan="6">{{general_data.state}}</td>
									<td colspan="6">Nationality</td>
									<td colspan="6">{{general_data.nationality}}</td>
								</tr>
								<tr>
									<td colspan="6">Mobile No.</td>
									<td colspan="6">{{general_data.mobile_number}}</td>
									<td colspan="6">Gender</td>
									<td colspan="6">{{general_data.gender}}</td>
								</tr>
								<tr>
									<td colspan="6">Email ID</td>
									<td colspan="18">{{general_data.email}}</td>
								</tr>
								<tr>
									<td colspan="6">Reservation Status<br>(with Certificate)</td>
									<td colspan="4" style="vertical-align: middle;">{{general_data.reservation}}</td>
									<td colspan="14">{{general_data.certificate}}</td>
								</tr>
								<tr>
									<td colspan="6">Present Employer</td>
									<td colspan="18">{{general_data.employer}}</td>
								</tr>

							</tbody>
						</table>
					</div>

					<!-- Educational Qualifications -->
					<h2>Academic Details</h2>
					<!-- Details of Educational Qualifications -->
					<h4>Details of Educational Qualifications </h4>
					<div class="table-wrapper" style="padding: 2px;">
						<table
							style="text-align-last: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;min-width: 100vh;"
							id="mainTable">
							<tbody class="application-row">
								<tr id="app-thead">
									<td colspan="24"
										style="border-top-left-radius: 1rem; border-top-right-radius: 1rem; border-bottom: 1px solid #a6a6a6;">
										Section B</td>
								</tr>
								<tr id="app-thead">
									<th colspan="4">Exam/Degree</th>
									<th colspan="4">Name of Board / College </th>
									<th colspan="4">Grade/ Marks</th>
									<th colspan="4">Subjects</th>
									<th colspan="4">Year of Passing</th>
									<th colspan="4">Supporting Document</th>
								</tr>
								{% for item in AcademicDetails %}
								<tr>
									<td colspan="4">
										{{item.degree}}
									</td>
									<td colspan="4">
										{{item.name}}
									</td>
									<td colspan="4">
										{{item.marks}}
									</td>
									<td colspan="4">
										{{item.subjects}}
									</td>
									<td colspan="4">
										{{item.year_of_passing}}
									</td>
									<td colspan="4">
										<img src={{item.supporting_documents.url}} height="150" width="150" alt="">
									</td>
								</tr>
								{% endfor %}
								<tr>
									<td colspan="24"></td>
								</tr>

								<tr>
									<td colspan="8">Whether Ph.D awarded</td>
									<td colspan="16">{{PhD.PhD_awarded}}</td>
								</tr>

								<tr>
									<td colspan="8">Ph.D Title</td>
									<td colspan="16">{{PhD.title_of_thesis}}</td>
								</tr>

							</tbody>
						</table>
					</div>

					<!-- Professional Details / SECTION - C	 -->
					<h2>Professional Details</h2>
					<!-- Details of Employment Experience -->
					<h4>Details of Employment Experience</h4>
					<div class="table-wrapper" style="padding: 2px;">
						<table
							style="text-align: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;min-width: 50vh;">
							<tbody class="application-row" style="font-size: 0.92em;text-align: center;">
								<tr>
									<td colspan="4"
										style="border-top-left-radius: 1rem;max-inline-size: 40vh;font-size: 0.9em;">
										Name of Employer/ Status of Institute/ University<br>
										<font style="font-size: x-small;">( Govt./ Quasi Govt./ Autonomous etc. )</font>
									</td>
									<td colspan="4">Post held/ Designation</td>
									<td colspan="8" style="inline-size: 25%;">Period Of Employment<br>(From and To)</td>
									<td colspan="2">Basic Salary</td>
									<td colspan="2">Nature of Duty</td>
									<td colspan="4" style="border-top-right-radius: 1rem;">Supporting Documents</td>
								</tr>

								{% for item in ProfessionalDetails %}
								<tr>
									<td colspan="4">{{item.name}}</td>
									<td colspan="4">{{item.post}}</td>
									<td colspan="4">{{item.from_year}}</td>
									<td colspan="4">{{item.to_year}}</td>
									<td colspan="2">{{item.salary}}</td>
									<td colspan="2">{{item.nature}}</td>
									{% if item.name == "N/A" %}
										<td colspan="4" style="overflow-wrap: anywhere;">{{item.supporting_documents}}</td>
									{% else %}
										<td colspan="4" style="overflow-wrap: anywhere;">
											<img src={{item.supporting_documents.url}} height="150" width="150" alt="">
										</td>
									{% endif %}
								</tr>
								{% endfor %}


							</tbody>
						</table>
					</div>

					<!-- Research Experience -->
					<h4>Research Experience</h4>
					<div class="table-wrapper" style="padding: 2px;">
						<table
							style="text-align: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;min-width: 50vh;">
							<tbody class="application-row" style="text-align: center;">
								<tr>
									<td colspan="6" style="border-top-left-radius: 1rem;min-inline-size: 12vh;">From
									</td>
									<td colspan="6" style="min-inline-size: 12vh;">To</td>
									<td colspan="6">Numbers of Months</td>
									<td colspan="6" style="border-top-right-radius: 1rem;">Supporting Documents</td>
								</tr>

								{% for item in ResearchExperienceDetails %}
								<tr>
									<td colspan="6">{{item.From}}</td>
									<td colspan="6">{{item.to}}</td>
									<td colspan="6">{{item.number_of_months}}</td>
									{% if item.From == "N/A" %}
										<td colspan="4" style="overflow-wrap: anywhere;">{{item.supporting_documents}}</td>
									{% else %}
										<td colspan="4" style="overflow-wrap: anywhere;">
											<img src={{item.supporting_documents.url}} height="150" width="150" alt="">
										</td>
									{% endif %}
								</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>

					<h2>Research and Academic Contributions Research Publications</h2>
					<div class="table-wrapper" style="padding: 2px;">


						<!-- Research and Academic Contributions Research Publications / SECTION - D-->
						<h4>Books- Self authored /co-authored/ edited</h4>

						<table
							style="text-align: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;min-width: 50vh;">
							<tbody class="application-row" style="text-align: center;">
								<tr>
									<td colspan="4" style="border-top-left-radius: 1rem;">Title of the Book(s)</td>
									<td colspan="4">Whether First Author or Co-author</td>
									<td colspan="4">Name of Publisher<br>
										<font style="font-size: small;">(with city/ country)</font>
									</td>
									<td colspan="4">Month & year of publication</td>
									<td colspan="4">ISBN/ISSN No.</td>
									<td colspan="4" style="border-top-right-radius: 1rem;">Supporting Documents</td>
								</tr>

								{% for item in BooksDetails %}
								<tr>
									<td colspan="4">{{item.title}}</td>
									<td colspan="4">{{item.author}}</td>
									<td colspan="4">{{item.publisher}}</td>
									<td colspan="4" style="min-inline-size: 5em;">{{item.date_publish}}</td>
									<td colspan="4">{{item.isbn}}</td>
									{% if item.title == "N/A" %}
										<td colspan="4" style="overflow-wrap: anywhere;">{{item.supporting_documents}}</td>
									{% else %}
										<td colspan="4" style="overflow-wrap: anywhere;">
											<img src={{item.supporting_documents.url}} height="150" width="150" alt="">
										</td>
									{% endif %}

								</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>


					<div class="table-wrapper" style="padding: 2px;">

						<h4>Chapters contributed in edited books</h4>

						<table
							style="text-align: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;min-width: 50vh;">
							<tbody class="application-row" style="text-align: center;">
								<tr>
									<td colspan="4" style="border-top-left-radius: 1rem;">Title of the Chapter(s)</td>
									<td colspan="4">Title of the Book(s)</td>
									<td colspan="2">Whether First Author or Co-author</td>
									<td colspan="4">Name of Publisher<br>
										<font style="font-size: small;">(with city/ country)</font>
									</td>
									<td colspan="4">Month & year of publication</td>
									<td colspan="2">ISBN/ ISSN No.</td>
									<td colspan="4" style="border-top-right-radius: 1rem;">Supporting Documents</td>
								</tr>

								{% for item in ChaptersDetails %}
								<tr>
									<td colspan="4">{{item.book_title}}</td>
									<td colspan="4">{{item.chapter}}</td>
									<td colspan="2">{{item.author}}</td>
									<td colspan="4">{{item.publisher}}</td>
									<td colspan="4" style="min-inline-size: 5em;">{{item.date_of_publisher}}</td>
									<td colspan="2">{{item.isbn_issn}}</td>
									{% if item.book_title == "N/A" %}
										<td colspan="4" style="overflow-wrap: anywhere;">{{item.supporting_documents}}</td>
									{% else %}
										<td colspan="4" style="overflow-wrap: anywhere;">
											<img src={{item.supporting_documents.url}} height="150" width="150" alt="">
										</td>
									{% endif %}

								</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>


					<div class="table-wrapper" style="padding: 2px;">

						<h4>Research/Articles/Papers published in Journals/Periodicals/Conference proceedings/Newspapers
						</h4>

						<table
							style="text-align: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;min-width: 50vh;">
							<tbody class="application-row" style="text-align:center;">
								<tr>
									<td colspan="3" style="border-top-left-radius: 1rem;">Title of research
										article/paper(s)</td>
									<td colspan="3">Name of journal</td>
									<td colspan="2">Whether First Author or Co-author</td>
									<td colspan="4" style="min-inline-size: 5em;">Date Of Issue</td>
									<td colspan="3">Volume no. & Page nos.</td>
									<td colspan="3">Whether Referred/Non-referred</td>
									<td colspan="2">Impact Factor</td>
									<td colspan="4" style="border-top-right-radius: 1rem;">Supporting Documents</td>
								</tr>

								{% for item in NewspapersArticlesDetails %}
								<tr>
									<td colspan="3">{{item.article_title}}</td>
									<td colspan="3">{{item.journal_name}}</td>
									<td colspan="2">{{item.author}}</td>
									<td colspan="4">{{item.date_published}}</td>
									<td colspan="3">{{item.vol_no}}</td>
									<td colspan="3">{{item.referred}}</td>
									<td colspan="2">{{item.naas}}</td>
									{% if item.article_title == "N/A" %}
										<td colspan="4" style="overflow-wrap: anywhere;">{{item.supporting_documents}}</td>
									{% else %}
										<td colspan="4" style="overflow-wrap: anywhere;">
											<img src={{item.supporting_documents.url}} height="150" width="150" alt="">
										</td>
									{% endif %}
								</tr>
								{% endfor %}


							</tbody>
						</table>

					</div>

					<div class="table-wrapper" style="padding: 2px;">

						<h4>Papers presented in Regional/National and International Seminars/ Conferences/ Workshop/
							Symposium. Indicate whether the Conference Proceedings are published.</h4>

						<table
							style="text-align: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;min-width: 50vh;">
							<tbody class="application-row" style="text-align: center;">
								<tr>
									<td colspan="4" style="border-top-left-radius: 1rem;">Title/Subject of paper
										presented</td>
									<td colspan="4">Subject of Conference /Seminar/Symposium/ Workshop</td>
									<td colspan="4">Organizing Institution & Name of City/Country </td>
									<td colspan="4" style="min-inline-size: 6em;">Duration<br>
										<font style="font-size: 0.75rem;">(From and To)<font>
									</td>
									<td colspan="4">Whether the proceedings published</td>
									<td colspan="4" style="border-top-right-radius: 1rem;">Supporting Documents</td>
								</tr>

								{% for item in SeminarArticles %}
								<tr>
									<td colspan="4">{{item.article_title}}</td>
									<td colspan="4">{{item.seminar_subject}}</td>
									<td colspan="4">{{item.location}}</td>
									<td colspan="4">{{item.From}}</td>
									<td colspan="4">{{item.published}}</td>
									{% if item.article_title == "N/A" %}
										<td colspan="4" style="overflow-wrap: anywhere;">{{item.supporting_documents}}</td>
									{% else %}
										<td colspan="4" style="overflow-wrap: anywhere;">
											<img src={{item.supporting_documents.url}} height="150" width="150" alt="">
										</td>
									{% endif %}
								</tr>
								{% endfor %}

						</table>

					</div>

					<br>
					<hr>

					<h2>Thesis and Experiment Details</h2>

					<div class="table-wrapper" style="padding: 2px;">
						<h4>1. Thesis Supervision</h4>

						<table
							style="text-align: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;">
							<tbody class="application-row">
								<tr>
									<td colspan="8" style="border-top-left-radius: 1rem;">Number of Ongoing PhDs</td>
									<td colspan="16" style="inline-size: 50%;border-top-right-radius: 1rem;">
										{{thesis_data.ongoing_phd}}</td>
								</tr>
								<tr>
									<td colspan="8">Number of Completed PhDs
									</td>
									<td colspan="16">{{thesis_data.completed_phd}}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="table-wrapper" style="padding: 2px;">

						<h4>2. Administrative Details</h4>

						<table
							style="text-align: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;">
							<tbody class="application-row">
								<tr>
									<td colspan="8" style="border-top-left-radius: 1rem;">Enter the details of
										Administrative Positions held in the past 5 years</td>
									<td colspan="16" style="inline-size: 50%;border-top-right-radius: 1rem;">
										{{administrative_details_data.administrative_details}}</td>
								</tr>
							</tbody>
						</table>

					</div>

					<h4>3. Sponsored Projects</h4>
					<div class="table-wrapper" style="padding: 2px;">

						<table
							style="text-align: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;min-width: 50vh;">
							<tbody class="application-row" style="text-align: center;">
								<tr>
									<td colspan="4" style="border-top-left-radius: 1rem;inline-size: 30%;">Total number
										of sponsored projects</td>
									<td colspan="8" style="inline-size: 20%;">{{SponsoredProjects.spo_tot_number}}</td>
									<td colspan="4">Number of ongoing sponsored projects</td>
									<td colspan="8" style="border-top-right-radius: 1rem;inline-size: 20%;">
										{{SponsoredProjects.spo_ongoing}}</td>
								</tr>
								<tr>
									<td colspan="4">Number of completed sponsored projects</td>
									<td colspan="8">{{SponsoredProjects.spo_completed}}</td>
									<td colspan="4">File containing the list of sponsored projects</td>
									<td colspan="8" style="overflow-wrap: anywhere;">{{SponsoredProjects.spo_file}}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h4>4. Experiments and Computational Project Details</h4>
					<div class="table-wrapper" style="padding: 2px;">

						<table
							style="text-align: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;min-width: 50vh;">
							<tbody class="application-row" style="text-align: center;">
								<tr>
									<td colspan="4" style="border-top-left-radius: 1rem;inline-size: 30%;">Total number
										of experiments/ computational projects</td>
									<td colspan="8" style="inline-size: 20%;">{{Experiments.exp_tot_number}}</td>
									<td colspan="4">Number of ongoing experiments/ computational projects</td>
									<td colspan="8" style="border-top-right-radius: 1rem;inline-size: 20%;">
										{{Experiments.exp_ongoing}}</td>
								</tr>
								<tr>
									<td colspan="4">Number of completed experiments/ computational projects</td>
									<td colspan="8">{{Experiments.exp_completed}}</td>
									<td colspan="4">File containing the list of experiments/ computational projects</td>
									<td colspan="8" style="overflow-wrap: anywhere;">{{Experiments.exp_file}}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h4>5. Patent Details</h4>
					<div class="table-wrapper" style="padding: 2px;">

						<table
							style="text-align: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;">
							<tbody class="application-row">
								<tr>
									<td colspan="8" style="border-top-left-radius: 1rem;">Please enter patent details,
										if any:</td>
									<td colspan="16" style="inline-size: 65%;border-top-right-radius: 1rem;">
										{{Patent.patent_details}}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h4>6. Summary</h4>
					<div class="table-wrapper" style="padding: 2px;">

						<table
							style="text-align: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;min-width: 50vh;">
							<tbody class="application-row">
								<tr>
									<td colspan="4" style="inline-size: 30%;border-top-left-radius: 1rem;">Ph.D Defence
										Date</td>
									<td colspan="4" style="inline-size: 20%;">{{Summary.defence_date}}</td>
									<td colspan="8" style="inline-size: 30%;">Total Experience (in years)</td>
									<td colspan="8" style="border-top-right-radius: 1rem;">{{Summary.total_exp}}</td>
								</tr>
								<tr>
									<td colspan="8">Experience (Post PhD)</td>
									<td colspan="16">{{Summary.exp_post_phd}}</td>
								</tr>
								<tr>
									<td colspan="8">Total Ph.D Students Supervised (Degree Awarded)</td>
									<td colspan="16">{{Summary.total_phd_students}}</td>
								</tr>
								<tr>
									<td colspan="8">Total Ongoing Ph.D Supervision</td>
									<td colspan="16">{{Summary.ongoing_phd_supervision}}</td>
								</tr>
								<tr>
									<td colspan="8">Total number of sponsored projects (Ongoing + Completed)</td>
									<td colspan="16">{{Summary.total_projects}}</td>
								</tr>
								<tr>
									<td colspan="8">Number of ongoing sponsored projects</td>
									<td colspan="16">{{Summary.ongoing_projects}}</td>
								</tr>
								<tr>
									<td colspan="8">Total number of experiments/ computational projects</td>
									<td colspan="16">{{Summary.computational_projects}}</td>
								</tr>
								<tr>
									<td colspan="8">Total Number of Publications in SCI / ABDC Journals</td>
									<td colspan="16">{{Summary.SCI_journal}}</td>
								</tr>
								<tr>
									<td colspan="8">Total Number of Publications in SCI / ABDC Journals (Post PhD)</td>
									<td colspan="16">{{Summary.SCI_journal_post_phd}}</td>
								</tr>
							</tbody>
						</table>

					</div>

					<div class="table-wrapper" style="padding: 2px;">
						<table
							style="text-align: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;min-width: 50vh;"
							id="mainTable">
							<tbody class="application-row">
								<tr id="app-thead">
									<td colspan="24"
										style="border-top-left-radius: 1rem; border-top-right-radius: 1rem; border-bottom: 1px solid #a6a6a6;">
										Section F</td>
								</tr>

								<tr>
									<td colspan="8">Membership/Fellowship of other institutions/professionals societies:
									</td>
									<td colspan="16" style="inline-size: 50%;">{{otherinformation_data.membership}}</td>
								</tr>

								<tr>
									<td colspan="8">Other activities/Responsibilities</td>
									<td colspan="16">{{otherinformation_data.responsibilities}}</td>
								</tr>
								<tr>
									<td colspan="8">Any other relevant information, if not given above </td>
									<td colspan="16">{{otherinformation_data.Any_other_relevant_information}}</td>
								</tr>
								<tr>
									<td colspan="8">Has there been any break in your academic career ? If so, give
										details</td>
									<td colspan="16">{{otherinformation_data.academic_year_break}}</td>
								</tr>
								<tr>
									<td colspan="8">Were you at any time declared medically unfit or asked to submit
										your resignation or discharged or dismissed?<br>
										<font style="font-size: small;">If yes, give details in a separate sheet.</font>
									</td>
									<td colspan="16">{{otherinformation_data.unfit_for_position}}</td>
								</tr>
								<tr>
									<td colspan="8">Name and Address of First Reference </td>
									<td colspan="16">{{otherinformation_data.reference1}}</td>
								</tr>
								<tr>
									<td colspan="8">Name and Address of Second Reference </td>
									<td colspan="16">{{otherinformation_data.reference2}}</td>
								</tr>
								<tr>
									<td colspan="8">Name and Address of Third Reference </td>
									<td colspan="16">{{otherinformation_data.reference3}}</td>
								</tr>
							</tbody>
						</table>
					</div>


					<div class="table-wrapper" style="padding: 2px;">
						<table
							style="text-align: center;border:1.5px solid #a6a6a6;border-collapse: separate;border-radius: 1rem 1rem 0 0;min-width: 50vh;"
							id="mainTable">
							<tbody class="application-row">
								<tr id="app-thead">
									<td colspan="24"
										style="border-top-left-radius: 1rem; border-top-right-radius: 1rem; border-bottom: 1px solid #a6a6a6;">
										Declaration</td>
								</tr>

								<tr>
									<td colspan="6" style="vertical-align:middle;">Place </td>
									<td colspan="6" style="vertical-align:middle;">{{signed_data.place}}</td>
									<td colspan="12" rowspan="2" style="vertical-align: middle;">
										<div style="max-width: min-content;margin-inline: auto;"><img id="profileImage"
												class="img-fluid mx-auto" src="{{ signed_data.signature.url }}"
												style="max-width: 15em;min-width: 8em;max-height: 8em; border-radius: 5vh;padding: 0;" />
										</div>
										<div>Signatures</div>
									</td>
								</tr>
								<tr>
									<td colspan="6" style="vertical-align:middle;">Date</td>
									<td colspan="6" style="vertical-align:middle;">{{signed_data.date}}</td>
								</tr>

							</tbody>
						</table>
					</div>


				</form>
			</section>
		</div>
	</div>

	<!-- Footer -->
	<footer id="footer">
		<section>
			<h2>How to Reach Us</h2>
			<p style="font-size: smaller;">The IIIT Lucknow campus is located at Chak Ganjeria City (C.G. City,
				Sultanpur Road), Lucknow . It is 23 km from the airport(CCSI Airport)
				and 14 km from the main railway station (Charbagh Junction).</p>
			<ul class="actions">
				<li><a href="https://goo.gl/maps/NufsSCj5hg7rFvaTA" target="#3" class="button small"><i
							class="fas fa-map-marked-alt"></i><span> View Map </span></a></a></li>
			</ul>
		</section>
		<section>
			<h2>Contact Details</h2>
			<dl class="alt" style="font-size: smaller;">
				<dt>Address</dt>
				<dd>IIIT Lucknow &bull; Chak Ganjaria, C.G. City &bull; Lucknow &bull; Uttar Pradesh – 226002 &bull;
					India</dd>
				<dt>Email</dt>
				<dd><a href="mailto:contact@iiitl.ac.in?subject=Faculty%20Recruitment%20Query">contact@iiitl.ac.in</a>
				</dd>
			</dl>
			<ul class="icons" style="font-size: small;">
				<li><a href="https://www.linkedin.com/school/iiitl/" target="#4"
						class="icon brands fa-linkedin alt"><span class="label">LinkedIn</span></a></li>
				<li><a href="https://twitter.com/iiitlucknow" target="#5" class="icon brands fa-twitter alt"><span
							class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/iiitlucknow/" target="#6"
						class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
				<!--	<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>	-->
			</ul>
		</section>
		<p class="copyright">&copy; 2020 <a href="https://iiitl.ac.in" target="#2">IIIT Lucknow</a>.</p>
	</footer>

	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js'%}"></script>
	<script src="{% static 'assets/js/jquery.scrollex.min.js'%}"></script>
	<script src="{% static 'assets/js/jquery.scrolly.min.js'%}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>

	<!-- <script>
		$('#profileImage').click(function (e) {
			$('#imageUpload').click();
		});
		function fasterPreview(uploader) {
			if (uploader.files && uploader.files[0]) {
				$('#profileImage').attr('src',window.URL.createObjectURL(uploader.files[0])
				);
			}
		}

		$('#imageUpload').change(function () {
			fasterPreview(this);
		});
	</script> -->



	<script>
		var _ = new Date();
		for (let j = 1; j <= 9; j++) {
			for (let i = _.getFullYear(); i >= 1950; i--) {
				if (document.getElementById("yearOfPassing" + j) !== null)
					document.getElementById("yearOfPassing" + j).innerHTML += "<option value='" + i + "'>" + i + "</option>\n"
			}
			for (let i = 2050; i >= _.getFullYear() + 1; i--) {
				if (document.getElementById("yearOfPassing" + j) !== null)
					document.getElementById("yearOfPassing" + j).innerHTML += "<option value='" + i + "'>" + i + "</option>\n"
			}
		}
		var list1 = [];
		var list2 = [];
		var list3 = [];
		var list4 = [];
		var list5 = [];
		var list6 = [];

		var n = 1;
		var x = 0;

		function addRow() {
			var row = document.getElementById('mainTable');
			var newRow = row.insertRow(n);

			list1[x] = document.getElementById()
		}



		var contentid = 'course' + parseInt(newAcademicsNo);
		var elem = document.getElementById(contentid);
		console.log(elem);
	</script>
</body>

</html>